@import "tailwindcss";
@import "./styles/tokens.css";

body {
  font-family: 'DM Sans', sans-serif;
  background: #f4f3ef;
  color: #111110;
  font-size: 13px;
}

*, *::before, *::after {
  box-sizing: border-box;
}
